.bn{
    padding: 12px;
    /* width: 50px; */
    border-radius: 15px;
    border-style: none;
    font-size: large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background:linear-gradient(rgb(208, 192, 192),rgb(249, 194, 203));
    color: rgb(255, 255, 255);
}
.wrapper{
 
    padding: 15px;
    width: 600px;
}
input{
    border-radius: 10px;
    width: 400px;
    padding: 10px;
    border-top-style: none;
    border-right-style: none;
    margin-left: 45px;
}